<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@{
    ViewBag.Title = "Voice recognition";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<button onclick="ascolta()"> Ascolta</button>
<button onclick="parla()"> Parla</button>
<button onclick="helloSimone()"> Hello Simone</button>

<script>
    var parla = function () {
        alert("parla!");

        $.ajax({
            url: "/Home/TTS",
            context: document.body
        }).done(function () {
            alert("Worked!");
        }).fail(function () {
            alert("Failed!");
        });

    }

    var ascolta = function () {
        alert("ascolta!");

        $.ajax({
            url: "/Home/CallAsync",
            context: document.body
        }).done(function () {
            alert("Worked!");
        }).fail(function () {
            alert("Failed!");
        });
    }

    var helloSimone = function () {
        alert("Hello simone!");

        $.ajax({
            url: "/Home/HelloSimone",
            context: document.body
        }).done(function () {
            alert("Worked!");
        }).fail(function () {
            alert("Failed!");
        });
    }

</script>